# E129: Visual indent to not match indent as next line, counter eg here:
# https://github.com/PyCQA/pycodestyle/issues/386
# W504: Raised by flake8 even when it is followed
ignore = D203, E124, E126, F405, E402, E129, W504, E722
max-line-length = 260
exclude =
per-file-ignores =
